<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothanna;AccountKey=3Zcsl7Vf8Ynx3YKLdm7aQFMHzhOtB3haLJZWrag0gPHiZvQ54M+TUxr8QxsOnB2U/WW0omsy6wlYsk0EcNJPpg==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>